*{
  margin:0;
  padding:0;
  font-size: 100%;
  font-weight: 300;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
  list-style: none;
}

.slogan{color:#fefefe;}
.container{margin: 20px; display:flex;}
.main{width:100%; background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);}
h1{color:#fff; font-size: 3em; text-align: center;}

iframe{margin-bottom:20px; border: solid 2px rgb(231, 231, 231)}

.contatoForm{margin-left: 1rem; width:660px; height:410px;  border:solid 2px rgb(231, 231, 231);}
.contatoForm .nome{padding-top:10px;}
input, #btn-enviar{width:96%; margin-bottom:15px; border-radius:10px;}
label, input{margin-left:12px; height:35px;}
#message{border-radius: 10px; margin-bottom: 12px;}
#message, input{font-size:0.8rem; font-family: Verdana, Geneva, Tahoma, sans-serif;}
textarea{margin-left: 0.8rem;}
#btn-enviar{font-family: "Audiowide", sans-serif; font-size: 1.001rem; padding-top:0.5rem; padding-bottom:2rem; background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff); color:#fefefe; cursor: pointer;}


/* BOTÃO VOLTAR */
.btn-voltar{ width: 40px; height: 40px; float:right; margin-right:1rem; margin-bottom:1rem; }

/* FOOTER */
  /* usei o bg gradiente do btn-menu*/
  .rodape{width:100%; float:left; text-align: center; padding: 3% 4%; background:linear-gradient(to right,hsl(240, 98%, 19%),#0000ff);}
  .social-icons a{font-size:1.5em; color:rgba(255,255,255,0.7); margin-right:3%;}
    /* Tirando o margin-right  do último icone */
  .social-icons a:last-child{margin-right: 0;}
  .social-icons a:hover{color:rgb(255,255,255);}
  .copyright{margin-top: 2%; color:rgba(255,255,255,0.7);}




    /* ========= MOBILE FIRST ========== */

/* SMALL DEVICES - SMARTPHONE */
@media screen and (min-width:480px){
  .logo{width:160px; background:url(/img/fongas-novo.png) center center/160px no-repeat;}
  .botoes{font-size:2rem;}
}

/* SMALL DEVICES - TABLETS */
@media screen and (min-width:768px){
  .servico{width:49%; float:left; margin-right:2%;}
  /* Dividir a tela em 2 cards na horizontal */
  form:nth-child(){margin-right: 0;}
  .inner a{font-size:2em;}
  .inner h4{font-size: 1.5em;}
  
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
@media screen and (min-width:960px){
  .title{width:70%; float:left; text-align: left;}
  .title h1{font-size: 3em;}
  .title h2{font-size: 2em;}
  .botoes{width:30%; float:right; margin-top: 2%;}
  .btn-sobre{margin-top: 10px;}

  /* colocar 2 cards na horizontal */
  .form{width:32%;}
  .form:nth-child(2){margin-right: 2%;}
  .form:nth-child(3){margin-right: 0;}
}

/*LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width:1200px){
  .btn-menu{display:none;}
  .btn-close{display:none;}
  .menu, .logo{display:none;}
 
  .newsletter input, .newsletter button{font-size:1.3em; padding:15px;}
  header{display:none;}
  .slogan{display:none;}
}